body {
	background-color: #FFC9DC;
	font-family: "Lobster Two", cursive, serif;
}

nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	background-color: #FFA8C7;
	box-shadow:0px 3px 3px rgba(0,0,0,0.5);
	padding: 1%;
	margin-bottom: 25px;
}

.navbutton {
	background-color: white;
	border: none;
	border-radius: 40px;
	text-decoration: none;
	text-align: center;
	font-family: "Lobster Two", cursive, serif;
	font-size: 200%;
	padding-left: 2%;
	padding-right: 2%;
	padding-top: 1%;
	padding-bottom: 1%;
	margin-left: 2%;
	margin-right: 2%;
	box-shadow:0px 3px 3px rgba(0,0,0,0.5);
}

#navbar {
	text-align: center;
	position: relative;
	width: 300%;
	margin-left: -5px;
}

.welcome {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.headerlarge {
	font-size: 400%;
	margin-top: 1%;
}

#splash {
	position: relative;
	width: 50%;
	height: 500px;
	margin: 15px;
	border-style: solid;
	border-width: 15px;
	border-color: white;
	box-shadow:0px 3px 3px rgba(0,0,0,0.5);
}

#banner {
	display: flex;
	flex-direction: row;
	margin-bottom: 1.5%;
	margin-top: -10px;
	margin-left: -10px;
	margin-right: -10px;
}

.whitestripe {
	background-color: white;
	width: 6.25%;
	height: 150px;
	border-bottom-left-radius: 50px;
	border-bottom-right-radius: 50px;
	box-shadow:0px 3px 3px rgba(0,0,0,0.5);
}

.pinkstripe {
	background-color: #FFA8C7;
	width: 6.25%;
	height: 150px;
	border-bottom-left-radius: 50px;
	border-bottom-right-radius: 50px;
	box-shadow:0px 3px 3px rgba(0,0,0,0.5);
}
