body {
	background-color: #FFC9DC;
	font-family: "Lobster Two", cursive, serif;
}

nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	background-color:#FFA8C7;
}

.welcome {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#splash {
	position: relative;
	align: center;
	width: 50%;
	height: 50%;
	padding: 1%;
	border: 1%;
	border-color: white;
}
